<!DOCTYPE html>
<html>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

 <div class="container">

 		<div class = "row" id="home1">

                <% if !hirer_signed_in? %>
                <% if !freelancer_signed_in? %>
    				 <div class="col-7">

    				 	  <%= image_tag 'teamwork.png', :class => "homepage-vector" %>
    				 </div>

    				 <div class="col-5" id="vertical">
                          <%= image_tag 'logo.png', :class => "index-logo" %>
                     <br/>

    					  <h2 >Connecting the gig economy in an easy and seamless way</h2>

                     <br/>
                        <button type="button" class="btn btn-info btn-lg btn-block btn-block" data-toggle="modal" data-target="#mySignupModal"> <strong>Sign Up</strong></button>

    				</div>
                <% end %>
                <% end %>

                <% if freelancer_signed_in? %>
                     <div class="col-7">
                          <%= image_tag 'freelancerhomepage.png', :class => "homepage-vector" %>
                     </div>

                     <div class="col-5">
                          <%= image_tag 'logo.png', :class => "index-logo" %>
                     <br/>

                          <h3>Welcome to the <span style="color: rgb(40, 162, 183)">Freelancer's</span> portal</h3>
                          <h4>Have you created your profile yet?</h4>

                     <br/>
                        <a href="/freelancers/register" class="btn btn-info btn-lg active" role="button" aria-pressed="true"><strong>CREATE A PROFILE</strong></a>

                    </div>
                <% end %>

                <% if hirer_signed_in? %>
                     <div class="col-7">
                          <%= image_tag '17080214_recruitment.png', :class => "homepage-vector" %>
                     </div>

                     <div class="col-5">
                          <%= image_tag 'logo.png', :class => "index-logo" %>
                     <br/>

                          <h2>Welcome to the <span style="color: rgb(40, 162, 183)">HIRER's</span> portal</h2>
                          <h3>Posting a new job?</h3>

                     <br/>
                        <a href="/job_postings/new" class="btn btn-info btn-lg active" role="button" aria-pressed="true"><strong>POST A NEW JOB</strong></a>

                    </div>
                <% end %>
		</div>
</div>

  </body>
</html>