<!DOCTYPE html>
<html>
  <head>
    <title>Gig-Link</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/" style="color: #1F8496"><strong>Gig-Link</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<% if hirer_signed_in? %>

      <li class="nav-item">
        <a class="nav-link" href="/job_postings">My Posts&nbsp;&nbsp;&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/freelancers">Freelancers&nbsp;&nbsp;&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/freelancers/saved_candidates">Saved Candidate&nbsp;&nbsp;&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job_matches">Make Contracts&nbsp;&nbsp;&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job_postings/new">Post a Job</a>
      </li>

<% end %>
<% if freelancer_signed_in? %>

      <li class="nav-item">
        <a class="nav-link" href="/job_postings/list">Search Jobs&nbsp;&nbsp;&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job_matches">Jobs History&nbsp;&nbsp;&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job_postings/saved_jobs">Saved Jobs&nbsp;&nbsp;&nbsp;|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/freelancer/<%= current_freelancer.id %>">Profile</a>
      </li>

<% end %>
</ul>

<% if hirer_signed_in? || freelancer_signed_in? %>
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<% end %>

  <form class="form-inline">
    <% if hirer_signed_in? || freelancer_signed_in? %>
	        <div style="padding-left: 10px;">
          <% if hirer_signed_in? %>
              <a class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="/hirers/sign_out" role="button">
          <% end %>
          <% if freelancer_signed_in?  %>
            <a class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="/freelancers/sign_out" role="button">
          <% end %>
          Log Out
          </a>
          </div>
	<% else %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myLoginModal">
            Log In
          </button>
          <div style="padding-left: 10px;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySignupModal">
          Sign Up
          </button>
          </div>
    <% end %>
  </form>
    </div>
</nav>




    <!-- The Login Modal -->
		<div class="modal fade" id="myLoginModal">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				
				<!-- Modal Header -->
				<div class="modal-header">
				<h3 class="modal-title">Get to work<br/> <font size="5px">login as ... </font></h3>
				
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<center>
				<div class="modal-body">
					<br />
					<a class="btn btn-lg btn-outline-primary" style="width: 150px; padding-top:20px; padding-bottom:20px; margin-right: 5px" href="hirers/sign_in" role="button">
					Hirer
					</a>
					<a class="btn btn-lg btn-outline-primary" style="width: 150px; padding-top:20px; padding-bottom:20px"  href="freelancers/sign_in" role="button">
					Freelancer
					</a>
					<br /><br /><br /><br />
				</div>
				</center>
			</div>
			</div>
		</div>

		<!-- The Signup Modal -->
		<div class="modal fade" id="mySignupModal">
			<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				
				<!-- Modal Header -->
				<div class="modal-header">
				<h3 class="modal-title">Complete account setup <br/> <font size="5px">register as ...</font></h3>
				
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<center>
				<div class="modal-body">
					<br />
					<a class="btn btn-lg btn-outline-primary" style="width: 150px; padding-top:20px; padding-bottom:20px; margin-right: 5px" href="hirers/sign_up" role="button">
					Hirer
					</a>
					<a class="btn btn-lg btn-outline-primary" style="width: 150px; padding-top:20px; padding-bottom:20px"  href="freelancers/sign_up" role="button">
					Freelancer
					</a>
					<br /><br /><br /><br />
				</div>
				</center>
			</div>
			</div>
		</div>
    <%= yield %>
  </body>
</html>